<p>This will delete all the orders and cannot be undone.</p>

<div data-dialog-footer>
  <button id="cancel-abort" class="primary">Do not cancel</button>
  <button id="cancel-proceed" class="primary">Cancel group order</button>
</div>
