<main>
  <div class="content">
    <h1>Instructions sent</h1>

    <p>
      Password reset instructions have been sent to
      <strong><%= @email %></strong>. Please check your junk mail and spam
      filters if you don't see it at first.
    </p>
  </div>
  <div class="reset_footer">
    <a href="<%= sign_in_path %>" class="return_link">Return to sign in</a>
  </div>
</main>
