<main>
  <div class="content">
    <h1>Forgot password?</h1>
    <p>
      To reset your password, enter the e-mail you registered with below and we'll send you reset instructions.
    </p>

    <%= form_tag(secure_request_token_url, method: "get") do %>
      <%= email_field_tag(:email, nil, placeholder: "johnsmith@example.com") %>
      <%= submit_tag "Send Instructions" %>
    <% end %>
  </div>
  <div class="reset_footer">
    <a href="<%= sign_in_path %>" class="return_link">Return to sign in</a>
  </div>
</main>
