[data-route='password_resets/request_email'],
[data-route='password_resets/request_token'],
[data-route='password_resets/request_reset'] {
  header{
    @include short-header;
  }

  main {
    margin: auto;
    width: 25rem;
    margin-top: 3rem;

    h1 {
      margin-bottom: 1.4rem;
    }

    .content {
      border-bottom: 1px solid $alto;
      padding-bottom: 1rem;

      form {
        margin-top: 1.25rem;

        input[type='email'] {
          margin-bottom: 0;
        }

        input[type='submit'] {
          @include button;
          width: 100%;
          margin-top: 1.25rem;
        }
      }
    }

    .reset_footer {
      text-align: center;
      margin-top: 1rem;
      a {
        text-decoration: none;
      }
    }
  }
}
