// sizing
$max-width: 100%;//90rem;
$dialog-width: 25rem;
$header-height: 25rem;
$padding: 2rem;
$footer-height: 20rem;
$footer-height-event-merchant: 8rem;

// colors
$dusty-gray: #999;
$alto: #ddd;
$wild-sand: #f5f5f5;
$light-text-color: #fff;
$medium-text-color: #535353;
$dark-text-color: #000;
$link-color: #419638;
$visited-link-color: darken($link-color, 15%);
$merchant-header-background: #eee;
$merchant-button-selected: #ccc;
$merchant-button: #fff;
$merchant-button-txt: #ccc;
$merchant-button-selected-txt: #fff;
$merchant-button-hover: #ddd;
$merchant-button-hover-txt: #aaa;
$button-text-color: white;
$button-primary-background-color: $link-color;
$button-secondary-background-color: #484949;
$background-color: #fff;
$alert-background-color: #4A93B8;
$alert-border-color: #7CB0CB;
$alert-text-color: $light-text-color;
$notice-background-color: $medium-text-color;
$notice-text-color: $light-text-color;
$notice-border-color: #6A696B;
$error-background-color: #e6c5c5;
$error-text-color: #b94a48;
$error-border-color: $error-text-color;
$checkbox-background-color: #eee;
$checkbox-checked-color: $link-color;
$dialog-background-color: #fafafa;
$light-box-background-color: #fcfcfc;
$light-box-border-color: #efefef;
$body-text-size: 15px;
$body-text-color: #757575;
$light-body-text-color: #bbb;
$heading-text-color: #222;
$placeholder-text: #c2c2c2;
$separator-color: #ccc;