
<!--<iframe src="https://4837288.fls.doubleclick.net/activityi;src=4837288;type=;cat=;qty=1;cost=[<%= @total["amount"] %>];ord=[<%= @confirmation["order_id"] %>]?"
        width="1" height="1" frameborder="0" style="display:none"></iframe>-->

<!--

Activity ID: 1525027

Activity Name: Thank You Page

Activity Group Name: Confirmation Page

-->
<!--

Start of DoubleClick Floodlight Tag: Please do not remove

Activity name of this tag: Thank You Page

URL of the webpage where the tag is expected to be placed: https://moes.splickit.com/thank_you_for_ordering

This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.

Creation Date: 12/04/2013

-->

<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
