<main>
  <div class="confirmation">
    <h2>Your group order has been submitted</h2>
    <p>Congratulations, your order has been sent to the organizer. Enjoy your meal.</p>
    <hr/>
    <%= link_to "Return to home.", root_path %>
  </div>
</main>
