<main id="inactive-group-order">
  <div class="container">
    <h1>This group order is no longer active</h1>
    <p>This group order has already been submitted.</p>
    <hr/>
    <a href="<%= root_path %>">Return to Home</a>
  </div>
</main>

