default: &default
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
  admin_cache_password: <%= ENV['ADMIN_CACHE_PASSWORD'] %>
  access_key: ENTER_KEY_HERE
  secret_access_key: ENTER_KEY_HERE
  full_access_key: ENTER_KEY_HERE
  secret_full_access_key: ENTER_KEY_HERE

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default

staging:
  <<: *default
