<% @title="Ordering down (590)" %>
<div id="ordering-down" class="error-body">
  <div class="window-sign">
    <div class="circle outer-circle"><span class="circle inner-circle"></span></div>
    <div class="square outer-square"><span class="square inner-square"></span></div>
    <div class="sign">
      <h1>Ordering down</h1>
    </div>
  </div>

  <h2>We're sorry, but ordering is down</h2>
  <h3><%= session[:error_590] %></h3>
</div>
