<% @title="Internal service error (500)" %>
<div class="error-body">
  <h1>500</h1>
  <h2>Internal service error</h2>
  <p>If you continue to get this error please contact</p>
  <a href="mailto:support@order140.com">support@order140.com</a>
  <div>
    <%= link_to "Take me home",root_path, class: 'button' %>
  </div>
</div>
