<% @title="Unable to process your request (422)" %>
<div class="error-body">
  <h1>422</h1>
  <h2>We were unable to process your request right now</h2>
  <p>If you continue to get this error please contact</p>
  <a href="mailto:support@order140.com">support@order140.com</a>
  <div>
    <%= link_to "Take me home", root_path, class: 'button' %>
  </div>
</div>
