<div id="item-added-popup" class="{{popupClass}}">
  <div id="triangle-up"></div>
  <h3>{{item_added_popup_title}}</h3>

  <div class="item-added-link-group">
    <a id="item-added-view-order" href="#">View {{#isWtjmmj}}reservation{{/isWtjmmj}}{{^isWtjmmj}}order{{/isWtjmmj}} </a>
    <a id="item-added" class="checkout" href="{{ checkoutURL }}">{{#isWtjmmj}}Reserve{{/isWtjmmj}}{{^isWtjmmj}}{{checkoutText}}{{/isWtjmmj}}</a>
  </div>
</div>
