<main id="empty-cart">
  <div class="container">
    <h1>Your cart is empty.</h1>
    <h3>Please add items before checking out.</h3>
    <a class="button" href="<%= @add_more_items_href %>">Add more items</a>
  </div>
</main>
