<main id="thank-you">
  <img src="https://d38o1hjtj2mzwt.cloudfront.net/shared/mobile/webviews/feedback-assets/thank-you.png" alt="Thank You!">
  <h1>Thank you!</h1>
  <h3>We appreciate your feedback.</h3>
</main>
