<div class="links-container">
  <a class="sign-in-link inactive-link" href="#">SIGN IN</a>
  <span class="separator">|</span>
  <a href="/sign_up" data-dialog='sign-up'
     data-dialog-trigger>JOIN NOW</a>
</div>