<div class="links-container">
  <a class="sign-in-link" href="/sign_in" data-dialog='sign-in'
     data-dialog-trigger>SIGN IN</a>
  <span class="separator">|</span>
  <a href="#" class="inactive-link" >JOIN NOW</a>
</div>