<div class="app-body">
  <h1>Sorry</h1>
  <h2>Your browser is unsupported</h2>
  <p>Unfortunately this mobile browser is unsupported. For the best user experience, please try our mobile app.</p>
  <div>
    <%= link_to "Get the app", @skin.iphone_app_link, class: 'button' %>
  </div>
</div>
