<form action="{{{ url }}}" method="post">
  <input name="_method" value="delete" type="hidden">
  <div data-dialog-content="">Are you sure delete delivery address?</div>
  <div class='buttons-dialog' data-dialog-footer="">
    <button class="btn-delete-usr-addr primary" data-delete='yes' type="submit">Yes</button>
    <a class="button btn-delete-usr-addr secondary" data-delete="no">No</a>
  </div>
</form>
