<form action="{{{ action }}}" method="post">
  <input name="_method" value="delete" type="hidden">
  <div data-dialog-content="">
    Are you sure you want to delete the credit card?
  </div>
  <div class='buttons-dialog' data-dialog-footer="">
    <button class="btn modal-btn-delete-credit-card-yes primary" data-delete='yes' type="submit">Yes</button>
    <a class="button modal-btn-delete-credit-card-no secondary" data-dialog-close="">No</a>
  </div>
</form>