<div class="order-error" data-dialog-content="">
  <div>
    <span>Enter your Gift Card Number:</span>
        <input type="text" id="gift-replace-input" name="gift-replace-input" placeholder="Enter your Gift Card number">
  </div>
</div>