<form action="{{{ action }}}" method="post">
  <input name="_method" value="delete" type="hidden">
  <div data-dialog-content="">
    Are you sure you want to delete this favorite?
  </div>
  <div class='buttons-dialog' data-dialog-footer="">
    <button class="btn modal-btn-remove-favorite-yes primary" data-delete='yes' type="submit">Yes</button>
    <a class="button modal-btn-remove-favorite-no secondary" data-delete="no">No</a>
  </div>
</form>