<div class="order-error" data-dialog-content="">
  <div>
    <div class="description">
      {{{ message }}}
    </div>
  </div>
</div>
<div class="buttons" data-dialog-footer="">
  <button class="button modal-close">OK</button>
</div>