<main>
  <h1>Add a new delivery address</h1>

  <section>
    <%= render "users/address/profile.html.erb" %>

    <div>
      <%= render "users/address/form.html.erb" %>
    </div>

  </section>
</main>
